
db.sqlite3
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/AURORAL_Conformance.iml
validation/__pycache__/__init__.cpython-311.pyc
validation/__pycache__/admin.cpython-311.pyc
validation/__pycache__/apps.cpython-311.pyc
validation/__pycache__/models.cpython-311.pyc
validation/__pycache__/services.cpython-311.pyc
validation/__pycache__/urls.cpython-311.pyc
validation/__pycache__/views.cpython-311.pyc
validation/migrations/__pycache__/__init__.cpython-311.pyc
validationService/__pycache__/__init__.cpython-311.pyc
validationService/__pycache__/middleware.cpython-311.pyc
validationService/__pycache__/settings.cpython-311.pyc
validationService/__pycache__/urls.cpython-311.pyc
validationService/__pycache__/wsgi.cpython-311.pyc
.idea/workspace.xml
