{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        <img class="mb-4" src="{% static 'img/auroral.png' %}" alt="" width="120" height="32">
                        <h2 class="card-title text-center">Login</h2>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <!--<div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}">Forgot your password?</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>