{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Element: {{ item.name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="40" height="32" src="{% static 'img/auroral.png' %}" alt=""/>
        <span class="fs-4">Compliance Service</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href='{% url "index" %}' class="nav-link">All endpoints</a></li>
        <li class="nav-item"><a href='{% url "valid" %}' class="nav-link">Validated</a></li>
        <li class="nav-item"><a href='{% url "notValid" %}' class="nav-link">Not validated</a></li>
      </ul>
    </header>
  </div>

<body>

    <div class="container">
        <div class="d-flex justify-content-center gap-5 py-5">
                <button id="reload-endpoints-btn" class="btn btn-primary" type="button">Reload Endpoints</button>
                <button class="btn btn-secondary" type="button">Validate All</button>
        </div>
   
    <h1>Element from {{ item.company }}:</h1>
    <table class="table table-striped">
    <tr>
        <th scope="col">Company</th>
        <th scope="col">Name</th>
        <th scope="col">Oid</th>
        <th scope="col">Agid</th>
        <th scope="col">Cid</th>
        <th scope="col">Last verification</th>
        <th scope="col">Is conformance</th>
        <th scope="col">Conformance checking</th>
    </tr>
        <tr>
            <td>{{ item.company }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.oid }}</td>
            <td>{{ item.agid }}</td>
            <td>{{ item.cid }}</td>
            <td>{{ item.check_date }}</td>
            <td id="validation-cell-{{ item.id }}">
            {% if item.is_valid %}
                <span class="badge text-bg-success rounded-pill">True</span>
            {% else %}
                <span class="badge text-bg-danger rounded-pill">False</span>
            {% endif %}
            </td>
<td><button class="btn btn-primary" type="button" onclick="validateItem('{{ item.agid }}', '{{ item.oid }}')">Check conformance</button></td>        </tr>
    </table>

    <h1>Conformance result:</h1>
    
    <a>{{ item.result }}</a>
    
  <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
      <p class="text-center text-body-secondary">© 2023 Universidad Politécnica de Madrid</p>
  </footer>
</div>

</body>
<script>
    function validateItem(agid, oid) {
        fetch(`/validate-item/${agid}/${oid}/`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                const validationCell = document.getElementById(`validation-cell-${itemId}`);
                validationCell.innerHTML = '<span class="badge text-bg-success rounded-pill">True</span>';
                } else {
                    console.error('Validación fallida:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

</html>