{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Element: {{ item.name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="120" height="32" src="{% static 'img/auroral.png' %}" alt=""/>
        <span class="fs-4">Conformance service</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href='{% url "index" %}' class="nav-link">All endpoints</a></li>
        <li class="nav-item"><a href='{% url "valid" %}' class="nav-link">Validated</a></li>
        <li class="nav-item"><a href='{% url "notValid" %}' class="nav-link">Not validated</a></li>
        <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary" >Logout</button>
            </form>
        </li>
      </ul>
    </header>
  </div>

<body>

    <div class="container">

   
    <h1>Element from {{ item.company }}:</h1>
    <table class="table table-striped">
    <tr>
        <th scope="col">Company</th>
        <th scope="col">Name</th>
        <th scope="col">Oid</th>
        <th scope="col">Agid</th>
        <th scope="col">Cid</th>
        <th scope="col">Last verification</th>
        <th scope="col">Is conformant</th>
        <th scope="col">Conformance checking</th>
    </tr>
        <tr>
            <td>{{ item.company }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.oid }}</td>
            <td>{{ item.agid }}</td>
            <td>{{ item.cid }}</td>
            <td>{{ item.check_date }}</td>
            <td id="validation-cell-{{ item.id }}">
            {% if item.is_valid %}
                <span class="badge text-bg-success rounded-pill">True</span>
            {% else %}
                <span class="badge text-bg-danger rounded-pill">False</span>
            {% endif %}
            </td>
<td>
    <button class="btn btn-primary" type="button" id="check-btn-{{ item.id }}" onclick="validateItem('{{ item.oid }}', '{{ item.property }}', '{{ item.id }}')">Check conformance</button>
    <button class="btn btn-secondary d-none" type="button" id="loading-btn-{{ item.id }}" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</td>    </table>
    
<div class="form-group">
    <label for="extra-parameters">Extra Parameters:</label>
    <input type="text" class="form-control" id="extra-parameters" placeholder="lat=48.14816&lon=17.10674">
</div>

    
    <h1 class="mt-3">Conformance result:</h1>
    
    <table class="table table-striped">
    <tr><th>Status</th><th>Result</th></tr>
    <tr><td>Not Checked</td><td>{% if item.conformance_status >= 0 %}<img width="32" height="32" src="{% static 'img/check.png' %}">{% else %}<img width="32" height="32" src="{% static 'img/notcheck.png' %}">{% endif %}</td></tr>
    <tr><td>No access</td><td>{% if item.conformance_status >= 1 %}<img width="32" height="32" src="{% static 'img/check.png' %}">{% else %}<img width="32" height="32" src="{% static 'img/notcheck.png' %}">{% endif %}</td></tr>
    <tr><td>Access level conformant (Technical interoperability)</td><td>{% if item.conformance_status >= 2 %}<img width="32" height="32" src="{% static 'img/check.png' %}">{% else %}<img width="32" height="32" src="{% static 'img/notcheck.png' %}">{% endif %}</td></tr>
    <tr><td>JSON conformant (Syntactic interoperability)</td><td>{% if item.conformance_status >= 3 %}<img width="32" height="32" src="{% static 'img/check.png' %}">{% else %}<img width="32" height="32" src="{% static 'img/notcheck.png' %}">{% endif %}</td></tr>
    <tr><td>JSON-LD 1.1 conformant (Syntactic interoperability)</td><td>{% if item.conformance_status >= 4 %}<img width="32" height="32" src="{% static 'img/check.png' %}">{% else %}<img width="32" height="32" src="{% static 'img/notcheck.png' %}">{% endif %}</td></tr>
    <tr><td>Ontology conformant (Semantic interoperability)</td><td>{% if item.conformance_status >= 5 %}<img width="32" height="32" src="{% static 'img/check.png' %}">{% else %}<img width="32" height="32" src="{% static 'img/notcheck.png' %}">{% endif %}</td></tr>
    <tr><td>AURORAL conformant (Semantic interoperability)</td><td>{% if item.conformance_status >= 6 %}<img width="32" height="32" src="{% static 'img/check.png' %}">{% else %}<img width="32" height="32" src="{% static 'img/notcheck.png' %}">{% endif %}</td></tr>
</table>
    <h3>Conformance actual status:</h3>
        {{item.reportInfo}}

  <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
      <p class="text-center text-body-secondary">© 2023 Universidad Politécnica de Madrid</p>
  </footer>
</div>

</body>
<script>
    
function validateItem(oid, property, itemId) {
    const checkButton = document.getElementById(`check-btn-${itemId}`);
    const loadingButton = document.getElementById(`loading-btn-${itemId}`);
    const extraParameters = document.getElementById('extra-parameters').value;

    if (!checkButton || !loadingButton) {
        console.error(`Botones no encontrados para el itemId: ${itemId}`);
        return;
    }
    
    checkButton.classList.add('d-none');
    loadingButton.classList.remove('d-none');
    
    let url = `/validate-item/${oid}/${property}`;
    if (extraParameters) {
        url += `?${extraParameters}`;
        console.log(url)
    }

    fetch(url)
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                const validationCell = document.getElementById(`validation-cell-${itemId}`);
                validationCell.innerHTML = '<span class="badge text-bg-success rounded-pill">True</span>';
                console.info(data);
            } else {
                console.error('Validación fallida:', data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        })
        .finally(() => {
            loadingButton.classList.add('d-none');
            checkButton.classList.remove('d-none');
        });
}

</script>

</html>