{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conformant service</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="120" height="32" src="{% static 'img/auroral.png' %}" alt=""/>
        <span class="fs-4">Compliance Service</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href='{% url "index" %}' class="nav-link active" aria-current="page">All endpoints</a></li>
        <li class="nav-item"><a href='{% url "valid" %}' class="nav-link">Conformance</a></li>
        <li class="nav-item"><a href='{% url "notValid" %}' class="nav-link">Not conformance</a></li>
      </ul>
    </header>
  </div>
    
    <div class="container">
        <div class="d-flex justify-content-center">
                <button id="reload-endpoints-btn" class="btn btn-primary" type="button">Reload Endpoints</button>
<button class="btn btn-secondary" type="button" onclick="checkAllItems()">
    Check All
    <span id="loadingIcon" style="display: none;">
        <img src="{% static 'img/loading.gif' %}" alt="Loading" >
    </span>
</button>            </div>
    
    <h1>Node status:</h1>
    <table class="table table-striped">
        <tr><th>Status</th><th>Number of Nodes</th></tr>
        <tr><td>Not Checked</td><td>{{ status_counts.0 }}</td></tr>
        <tr><td>Not Available</td><td>{{ status_counts.1 }}</td></tr>
        <tr><td>Available</td><td>{{ status_counts.2 }}</td></tr>
        <tr><td>Syntactic</td><td>{{ status_counts.3 }}</td></tr>
        <tr><td>Semantic</td><td>{{ status_counts.4 }}</td></tr>
        <tr><td>Compliant</td><td>{{ status_counts.5 }}</td></tr>
    </table>
    
    <h1>All nodes:</h1>
    <table class="table table-striped">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Company</th>
        <th scope="col">Name</th>
        <th scope="col">Property</th>
        <th scope="col">Oid</th>
        <th scope="col">Agid</th>
        <th scope="col">Cid</th>
        <th scope="col">Last verification</th>
        <th scope="col">Is conformance</th>
        <th scope="col">Conformance checking</th>
    </tr>
        {% for item in object_list %}
        <tr>
            <td><a href="{% url 'element_detail' item.id %}">{{ forloop.counter }}</a></td>
            <td>{{ item.company }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.property }}</td>
            <td>{{ item.oid }}</td>
            <td>{{ item.agid }}</td>
            <td>{{ item.cid }}</td>
            <td>{{ item.check_date }}</td>
            <td id="validation-cell-{{ item.id }}">
            {% if item.is_valid %}
                <span class="badge text-bg-success rounded-pill">True</span>
            {% else %}
                <span class="badge text-bg-danger rounded-pill">False</span>
            {% endif %}
            </td>
        <td>
            <button class="btn btn-primary" type="button" onclick="validateItem('{{ item.oid }}', '{{ item.property }}', '{{ item.id }}')">Check conformance</button>
        </td>
        </tr>
        {% endfor %}
    </table>

  <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
      <p class="text-center text-body-secondary">© 2023 Universidad Politécnica de Madrid</p>
  </footer>
</div>
</body>
<script>
    document.getElementById('reload-endpoints-btn').addEventListener('click', function() {
        fetch('/retrieve-endpoints')
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.info(data.status)
                    const objectList = data.object_list;
                    let tableRows = '';
                    objectList.forEach((item, index) => {
                        tableRows += `
                            <tr>
                                <td>${index + 1}</td>
                                <td><span class="badge text-bg-success rounded-pill">${item.name}</span></td>
                                <td>${item.is_valid ? 'Yes' : 'No'}</td>
                            </tr>`;
                    });
                    document.querySelector('.table-striped').innerHTML = `
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Endpoint</th>
                            <th scope="col">Validated</th>
                        </tr>` + tableRows;
                } else {
                    console.log(data)
                    console.error('Error:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
    
function validateItem(oid, property, itemId) {
    fetch(`/validate-item/${oid}/${property}`)
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                const validationCell = document.getElementById(`validation-cell-${itemId}`);
                validationCell.innerHTML = '<span class="badge text-bg-success rounded-pill">True</span>';
                console.info(data)
            } else {
                console.error('Validación fallida:', data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

function checkAllItems() {
    const loadingIcon = document.getElementById('loadingIcon');
    loadingIcon.style.display = 'inline-block';

    const rows = document.querySelectorAll("table.table-striped tr");
    let promises = [];

    rows.forEach((row, index) => {
        if (index === 0 || row.cells.length < 5) return;

        const oid = row.cells[4].textContent.trim();
        const property = row.cells[3].textContent.trim();
        const itemId = row.cells[0].textContent.trim();

        if (oid && property && itemId) {
            promises.push(validateItem(oid, property, itemId));
        }
    });

    Promise.all(promises).then(() => {
        loadingIcon.style.display = 'none';
    });
}

document.querySelector('.btn.btn-secondary').addEventListener('click', checkAllItems);
    
</script>
</html>